/** @format */
.control {
  position: absolute;
  background-color: rgba(147, 226, 180, 0.098);
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 10px 10px rgba(0, 50, 37, 0.078);
  backdrop-filter: blur(5px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px double rgba(154, 12, 59, 0.317);
  pointer-events: none !important;
}

.snake {
  box-shadow: 0px 0px 20px 4px rgb(253, 253, 253);
  height: 15px;
  width: 15px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 0;
  transition: all 10ms ease-in-out;
}


.Food {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  z-index: -1;
}

.Board {
  border: 2px solid #000000;
  background: radial-gradient(rgba(255, 255, 255, 0.48),
      rgba(255, 0, 0, 0.441),
      rgba(255, 255, 0, 0.467),
      rgba(0, 128, 0, 0.477));
  margin: 20px auto;
  overflow: hidden;
  z-index: 1;
  height: 500px;
  width: 500px;
  position: relative;
}
